In [2]:
import pandas as pd

lista_nomes = ['Ana', 'Marcos', 'Carlos']
print('Lista de Nomes:\n',lista_nomes)
print('Primeiro Nome da Lista:\n',lista_nomes[0])

Lista de Nomes:
 ['Ana', 'Marcos', 'Carlos']
Primeiro Nome da Lista:
 Ana

In [5]:
dicionario_pessoas = {
    'nome': 'Ana',
    'idade': 20,
    'cidade': 'São Paulo'
}

print('Dicionário de uma pessoa:\n', dicionario_pessoas)
print('Atributos do dicionário:\n', dicionario_pessoas.get('nome'))

Dicionário de uma pessoa:
 {'nome': 'Ana', 'idade': 20, 'cidade': 'São Paulo'}
Atributos do dicionário:
 Ana

In [8]:
dados = [
    {'Nome': 'Ana', 'Idade': 20, 'Cidade': 'São Paulo'},
    {'Nome': 'Saulo', 'Idade': 30, 'Cidade': 'Rio de Janeiro'},
    {'Nome': 'Carlos', 'Idade': 25, 'Cidade': 'Curitiba'},
]

#dataframe = estrutura de dados bidimensional
df = pd.DataFrame(dados)
print('DataFrame \n', df)

DataFrame
      Nome  Idade          Cidade
0     Ana     20       São Paulo
1   Saulo     30  Rio de Janeiro
2  Carlos     25        Curitiba

In [20]:
#selecionar uma coluna
print(df['Nome:'])

0       Ana
1     Saulo
2    Carlos
Name: Nome:, dtype: object

In [23]:
#selecionar várias colunas
print(df[['Nome:', 'Idade']])

    Nome:  Idade
0     Ana     20
1   Saulo     30
2  Carlos     25

In [30]:
#selecionar linhas pelo índice
print('Primeira Linha:\n', df.iloc[0])

Primeira Linha:
 Nome:           Ana
Idade            20
Cidade    São Paulo
Name: 0, dtype: object

In [33]:
#adicionar uma nova coluna
df['Salário'] = [6000, 5500, 5000]
print('DataFrame atualizado: \n', df)

DataFrame atualizado:
     Nome:  Idade          Cidade  Salário
0     Ana     20       São Paulo     6000
1   Saulo     30  Rio de Janeiro     5500
2  Carlos     25        Curitiba     5000

In [36]:
#adicionar um novo registro
df.loc[len(df)] = {
    'Nome:': 'João',
    'Idade': 35,
    'Cidade': 'Porto ALegre',
    'Salário': 4900
}

print('DataFrame atualizado: \n', df)

DataFrame atualizado:
     Nome:  Idade          Cidade  Salário
0     Ana     20       São Paulo     6000
1   Saulo     30  Rio de Janeiro     5500
2  Carlos     25        Curitiba     5000
3    João     35    Porto ALegre     4900

In [40]:
#adicionar um novo registro - Não precisa adicionar os campos, apenas os valores. Preste atenção: quando não usar os campos, é preciso adicionar os colchetes [] no lugar das chaves {}
df.loc[len(df)] = [
    'Alfredo',
    38,
    'Florianópolis',
    4700
]

print('DataFrame atualizado: \n', df) #Depois de atualizar o DataFrame, faça um "print" para visualizar ele;

DataFrame atualizado:
      Nome:  Idade          Cidade  Salário
0      Ana     20       São Paulo     6000
1    Saulo     30  Rio de Janeiro     5500
2   Carlos     25        Curitiba     5000
3     João     35    Porto ALegre     4900
4  Alfredo     38   Florianópolis     4700

In [43]:
#adicionar uma nova coluna
df['Cargo'] = ['Professora', 'Professor', 'Professor', 'Professor', 'Professor']

print('DataFrame atualizado: \n', df)

DataFrame atualizado:
      Nome:  Idade          Cidade  Salário       Cargo
0      Ana     20       São Paulo     6000  Professora
1    Saulo     30  Rio de Janeiro     5500   Professor
2   Carlos     25        Curitiba     5000   Professor
3     João     35    Porto ALegre     4900   Professor
4  Alfredo     38   Florianópolis     4700   Professor

In [46]:
#remover uma coluna:
df.drop(['Cargo'], axis=1, inplace=True)

print('DataFrame atualizado: \n', df)

DataFrame atualizado:
      Nome:  Idade          Cidade  Salário
0      Ana     20       São Paulo     6000
1    Saulo     30  Rio de Janeiro     5500
2   Carlos     25        Curitiba     5000
3     João     35    Porto ALegre     4900
4  Alfredo     38   Florianópolis     4700

In [49]:
# filtrando pessoas com mais de 29 anos:
filtro_idade = df[df['Idade'] >= 30]
print('Resultado do seu filtro:\n', filtro_idade)

Resultado do seu filtro:
      Nome:  Idade          Cidade  Salário
1    Saulo     30  Rio de Janeiro     5500
3     João     35    Porto ALegre     4900
4  Alfredo     38   Florianópolis     4700

In [68]:
# salvar o DataFrame em arquivo CSV:
df.to_csv('dados.csv', index=False)

In [70]:
# lendo um arquivo CSV:
df_lido = pd.read_csv('dados.csv')
print('\n Leitura do CSV:\n', df_lido)

 Leitura do CSV:
      Nome:  Idade          Cidade  Salário
0      Ana     20       São Paulo     6000
1    Saulo     30  Rio de Janeiro     5500
2   Carlos     25        Curitiba     5000
3     João     35    Porto ALegre     4900
4  Alfredo     38   Florianópolis     4700